.btn_download {
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:flex;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 12px;
    text-decoration:none;
    margin-top:5px;
}
.btn_download:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
}
.btn_download:active {
    position:relative;
    top:1px;
}

.btn_download:focus {
    outline: none !important;
}

.btn_download::-moz-focus-inner {
  border: 0;
}



*[data-tooltip] { position: relative; }

*[data-tooltip]:hover:after, *[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
}

*[data-tooltip]:after, *[data-tooltip]:before {
  position: absolute;
  top: auto;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  z-index: 5;
}

*[data-tooltip]:after {
  content: attr(data-tooltip);
  background: #4c4c4c;
  padding: 2px 7px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -8px);
  transform: translate(-50%, -8px);
}

*[data-tooltip]:before {
  content: '';
  top: auto;
  bottom: 100%;
  border: 4px solid transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top-color: #4c4c4c;
}

*[data-tooltip][data-position="bottom"]:after {
  top: 100%;
  bottom: auto;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}

*[data-tooltip][data-position="bottom"]:before {
  top: 100%;
  bottom: auto;
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

*[data-tooltip][data-position="left"]:after {
  left: 0;
  bottom: auto;
  top: 50%;
  margin-left: -8px;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

*[data-tooltip][data-position="left"]:before {
  left: 0;
  bottom: auto;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  border-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
}

*[data-tooltip][data-position="right"]:after {
  left: 100%;
  bottom: auto;
  top: 50%;
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}

*[data-tooltip][data-position="right"]:before {
  left: 100%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
}

i[class*="icss-"] {
  position: relative;
  display:inline-block;
  font-style: normal;
  background-color:currentColor;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}
i[class*="icss-"]:before, 
i[class*="icss-"]:after {
  content: "";
  border-width: 0; 
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Size */
[class*="icss-"].xxsmall {
  font-size: .45em;
}
[class*="icss-"].xsmall {
  font-size: .5em;
}
[class*="icss-"].small {
  font-size: .65em;
}
[class*="icss-"].x1_5 {
  font-size: 1.5em;
}
[class*="icss-"].x2 {
  font-size: 2em;
}
[class*="icss-"].x2_5 {
  font-size: 2.5em;
}
[class*="icss-"].x3 {
  font-size: 3em;
}
[class*="icss-"].x4 {
  font-size: 4em;
}
[class*="icss-"].x5 {
  font-size: 5em;
}

/* Align text-bottom */
i[class*="icss-"].bottom {
  vertical-align:text-bottom;
}

/* flip */
.flip {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* rotate */
i[class*="icss-"].rot10 {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
i[class*="icss-"].rot-10 {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
i[class*="icss-"].rot20 {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
i[class*="icss-"].rot-20 {
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
i[class*="icss-"].rot45 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
i[class*="icss-"].rot-45 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
i[class*="icss-"].rot90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
i[class*="icss-"].rot-90 {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
i[class*="icss-"].rot180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
i[class*="icss-"].rot-180 {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* force animation */
i.icss-anim,
i.icss-anim:before,
i.icss-anim:after {   
  -webkit-transition: all 1s;   
  -o-transition: all 1s;   
  transition: all 1s;
}

/* Spin */
.icss-spin {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
.icss-pulse {
  -webkit-animation: spin 1s infinite steps(8);
          animation: spin 1s infinite steps(8);
}

.icss-spin-hover:hover {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/* BELL */
@-webkit-keyframes ring {
    0%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}
    2%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
    4%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}
    6%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}
    8%{-webkit-transform:rotate(-22deg);transform:rotate(-22deg)}
    10%{-webkit-transform:rotate(22deg);transform:rotate(22deg)}
    12%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}
    14%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}
    16%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}
    18%{-webkit-transform:rotate(12deg);transform:rotate(12deg)}
    20%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}
@keyframes ring {
    0%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}
    2%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
    4%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}
    6%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}
    8%{-webkit-transform:rotate(-22deg);transform:rotate(-22deg)}
    10%{-webkit-transform:rotate(22deg);transform:rotate(22deg)}
    12%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}
    14%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}
    16%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}
    18%{-webkit-transform:rotate(12deg);transform:rotate(12deg)}
    20%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}

.icss-ring {
  -webkit-animation: ring 2s infinite ease;
          animation: ring 2s infinite ease;
}
.icss-ring-hover:hover {
  -webkit-animation: ring 2s infinite ease;
          animation: ring 2s infinite ease;
}

/* VERTICAL */
@-webkit-keyframes vertical {
    0%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}
    4%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}
    8%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}
    12%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}
    16%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}
    20%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}
    22%,100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
@keyframes vertical {
    0%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}
    4%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}
    8%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}
    12%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}
    16%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}
    20%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}
    22%,100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
.icss-vibes,
.icss-vibes-hover:hover {
    -webkit-animation: vertical 2s ease infinite;
            animation: vertical 2s ease infinite;
}

/* HORIZONTAL */
@-webkit-keyframes horizontal {
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    6%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}
    12%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    18%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}
    24%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    30%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}
    36%,100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
@keyframes horizontal {
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    6%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}
    12%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    18%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}
    24%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    30%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}
    36%,100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
}
.icss-shake,
.icss-shake-hover:hover {
    -webkit-animation: horizontal 2s ease infinite;
            animation: horizontal 2s ease infinite;
}

/* TADA */
@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);transform: scale(1)}
    10%,20% {-webkit-transform:scale(.9) rotate(-8deg);transform:scale(.9) rotate(-8deg);}
    30%,50%,70% {-webkit-transform:scale(1.3) rotate(8deg);transform:scale(1.3) rotate(8deg)}
    40%,60% {-webkit-transform:scale(1.3) rotate(-8deg);transform:scale(1.3) rotate(-8deg)}
    80%,100% {-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}
}
@keyframes tada {
    0% {-webkit-transform: scale(1);transform: scale(1)}
    10%,20% {-webkit-transform:scale(.9) rotate(-8deg);transform:scale(.9) rotate(-8deg);}
    30%,50%,70% {-webkit-transform:scale(1.3) rotate(8deg);transform:scale(1.3) rotate(8deg)}
    40%,60% {-webkit-transform:scale(1.3) rotate(-8deg);transform:scale(1.3) rotate(-8deg)}
    80%,100% {-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}
}

.icss-tada,
.icss-tada-hover:hover{
    -webkit-animation: tada 2s linear infinite;
            animation: tada 2s linear infinite;
}

/* Reverse animation */
.icss-reverse {
  animation-direction: reverse;
}
[class*="-hover"].icss-reverse:hover {
  animation-direction: reverse;
}

/* Stack icons */
.icss-stack {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.icss-stack i[class*="icss-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-.5em, -.5em);
      -ms-transform: translate(-.5em, -.5em);
          transform: translate(-.5em, -.5em);
}

.icss-stack i[class*="icss-"].bottom {
  bottom: 0;
  top: auto;
}

/* shadow icon */
.icss-shadow {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.icss-shadow i[class*="icss-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-.5em, -.5em);
      -ms-transform: translate(-.5em, -.5em);
          transform: translate(-.5em, -.5em);
}

.icss-shadow i[class*="icss-"]:first-child {
  top: 54%;
  left: 54%;
}

i.icss-download {
    width: 1em;
    height: .6em;
    background-color: transparent;
    border-width: 0 .2em .3em;
    border-style: solid;
    border-radius: .03em;
    margin: .4em 0 0;
}
i.icss-download:before {
    height: .5em;
    border-style: solid;
    border-width: 0 .25em .25em;
    border-color: transparent;
    border-bottom-color: currentColor;
    background-color: transparent;
    -webkit-box-shadow: 0em .35em 0 -.13em;
            box-shadow: 0em .35em 0 -.13em;
    top: -.1em;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
}

i.icss-download:after {

}